.footer {
  background: #412662;
  padding: 48px 64px 12px 64px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.textGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.headline {
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 1.68px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.sub {
  color: #ffffff;
  font-family: var(--font-body);
  font-size: 32px;
  line-height: 36px;
}

.contactDetails,
.legalLinks {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-body);
  font-size: 20px;
  /* font-weight: 500; */
}

.legalLinks a:hover {
  color: var(--primary-accent);
}

.contactDetailsRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 24px 16px 4px 16px;
    gap: 24px;
  }

  .headline {
    font-size: 40px;
  }

  .sub {
    font-size: 24px;
  }

  .legalLinks {
    opacity: 0.8;
  }

  .contactDetails {
    opacity: 0.8;
    flex-direction: column;
    /* display: inline-block; */
    gap: 4px;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: center;
    padding: 4px;
  }
}
