.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid var(--primary-transparent-bg);
  transform: translateY(0);
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.headerHidden {
  transform: translateY(-110%);
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 80px;
  gap: 128px;
}

.fullLogo {
  height: 128px;
  width: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  flex-direction: row;
}

.navLinks li a {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 26px;
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.navLinks li a:hover {
  color: var(--primary-accent);
}

@media (max-width: 1024px) {
  .nav {
    padding: 8px 16px;
    gap: 40px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .nav {
    gap: 8px;
  }

  .navLinks {
    gap: 16px;
  }
}

@media (max-width: 500px) {
  .fullLogo {
    height: 96px;
  }

  .navLinks {
    gap: 8px;
  }

  .navLinks li a {
    font-size: 20px;
    line-height: 22px;
  }
}
